name: Sync QA-Changes1 to QA-Changes2

on:
  push:
    branches:
      - main  # or the branch you want to watch for changes

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout QA_Changes1
      uses: actions/checkout@v3
      with:
        repository: nayanamadhusoodanan/QA_Changes1
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Checkout QA_Changes2
      uses: actions/checkout@v3
      with:
        repository: nayanamadhusoodanan/QA_Changes2
        path: QA_Changes2
        token: ${{ secrets.GITHUB_TOKEN }}

    # - name: Sync files
    #   run: |
    #     rsync -av --delete . ../QA_Changes2/  # Sync the files
    
    # - name: Commit and Push changes to QA-Changes2
    #   run: |
    #     cd QA-Changes2/
    #     git config user.name "GitHub Action"
    #     git config user.email "action@github.com"
    #     git add .
    #     git commit -m "Sync from QA-Changes1"
    #     git push
